<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>예제1</h1>
<table border="1">
    <thead>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>내용</td>
        <td>조회수</td>
        <td>등록날짜</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="noticeDtoList, status: ${noticeDtoList}">
        <td th:if="${status.even}" th:text="짝수"></td>
        <td th:unless="${status.even}" th:text="홀수"></td>
        <td th:text="${noticeDtoList.noticeTitle}"></td>
        <td th:text="${noticeDtoList.noticeContent}"></td>
        <td th:text="${noticeDtoList.noticeViewNum}"></td>
        <td th:text="${noticeDtoList.noticeDateTime}"></td>
    </tr>
    </tbody>
</table>


<h1>예제2</h1>
<table border="1">
    <thead>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>내용</td>
        <td>조회수</td>
        <td>등록날짜</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="noticeDtoList, status: ${noticeDtoList}">
        <td th:switch="${status.even}">
            <span th:case="true">짝수</span>
            <span th:case="false">홀수</span>
        </td>
        <td th:text="${noticeDtoList.noticeTitle}"></td>
        <td th:text="${noticeDtoList.noticeContent}"></td>
        <td th:text="${noticeDtoList.noticeViewNum}"></td>
        <td th:text="${noticeDtoList.noticeDateTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

